.back {
  background: rgb(212, 251, 212);
}

.backtitle {
  background: rgb(17, 100, 46);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
}

.backbouton {
  background: rgb(17, 100, 46);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paneltitle {
  background: rgb(24, 182, 24);
}
