<div class="row">
  <div class="col-2">
    <img class="img-fluid" src="assets/images/azzahrah_logo.png" alt="Azzahrah Logo" />
  </div>
  <div class="col-10">
    <p>Association Azzahrah</p>
  </div>
</div>