div {
  background: rgb(17, 100, 46);
  padding: 10px;
  border-color: white;
  border-spacing: 10px;
}
p {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}
