<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-xl-4">
        Code Postal
        <input type="text" class="form-control" id="postcodeSearch" value="" #postcodeSearch />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
        Recherche
        <input type="text" class="form-control" id="search" value=""
            (keydown)="findAll(search.value, postcodeSearch.value);" #search />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
        <label for="listAllAdresses">Sélectionner l'adresse</label>

        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 border">
            <li *ngFor="let feat of listAllFeatures" (click)="onSelect(feat)">{{ feat.properties.label }} </li>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" *ngIf="listAllFeatures.length > 0 ; else noAdress">
        <form [formGroup]="monForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group col-xs-12 col-sm-12 col-md-12" *ngIf="selectedOk === 1">
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="housenumber">housenumber </label>
                    <input class="form-control" type="text" formControlName="housenumber" id="housenumber"
                        placeholder="housenumber" [(ngModel)]="selectedFeature.properties.housenumber" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="street">street </label>
                    <input class="form-control" type="text" formControlName="street" id="street" placeholder="street"
                        [(ngModel)]="selectedFeature.properties.street" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="postcode">postcode </label>
                    <input class="form-control" type="text" formControlName="postcode" id="postcode"
                        placeholder="postcode" [(ngModel)]="selectedFeature.properties.postcode" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="city">city </label>
                    <input class="form-control" type="text" formControlName="city" id="city" placeholder="city"
                        [(ngModel)]="selectedFeature.properties.city" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="context">context </label>
                    <input class="form-control" type="text" formControlName="context" id="context" placeholder="context"
                        [(ngModel)]="selectedFeature.properties.context" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="selectedOk === 1">
                    <label for="name">complement </label>
                    <input class="form-control" type="text" formControlName="complement" id="complement"
                        placeholder="complement" [(ngModel)]="adresse.complement" />
                </div>

            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
        <ng-template #noAdress>Pas d'adresse</ng-template>
    </div>
</div>