.backbouton {
  background: rgb(17, 100, 46);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.lieuChoix {
  font-weight: bold;
}
.lieuSelected {
  font-style: italic;
  text-decoration: underline;
}
