<h5>Parametre</h5>
<hr>
<div class="col-8 mx-auto">
    <form [formGroup]="monForm" novalidate>
        <div class="form-group row">
            <label>Nom </label>
            <input class="form-control" formControlName='libelle' type="text" placeholder="Nom"
                [(ngModel)]="centre.libelle">
        </div>
        <div class="form-group row">
            <label>Slogan :</label>
            <input class="form-control" formControlName='slogan' type="text" placeholder="Slogan"
                [(ngModel)]="centre.slogan">
        </div>
        <div class="form-group row">
            <label>Lieux :</label>

            <select class=form-control (click)="modifLieu(findLieux.value)" #findLieux>

                <option value="{{centre.lieu.id}}" class="lieuChoix">{{ centre.lieu.libelleLieu }} -
                    {{ centre.lieu.detailsLieu }}
                </option>
                <optgroup label="Choisir un autre lieu">
                    <option *ngFor="let lieu of listLieux; let i=index" [value]="i+1">
                        <span *ngIf="lieu.libelleLieu == centre.lieu.libelleLieu ; else noFind">
                            *** {{ lieu.libelleLieu }} -
                            {{ lieu.detailsLieu }} ***
                        </span>
                        <ng-template class="lieuSelected" #noFind>
                            {{ lieu.libelleLieu }} -
                            {{ lieu.detailsLieu }}
                        </ng-template>
                    </option>
                </optgroup>
            </select>
        </div>
        <div class="form-group row">
            <label for="tel">Téléphone</label>
            <input class="form-control" formControlName='tel' id="tel" type="text" placeholder="Téléphone"
                [(ngModel)]="centre.tel">
        </div>
        <div class="form-group row">
            <label for="fax">Fax</label>
            <input class="form-control" formControlName='fax' id="fax" type="text" placeholder="Fax"
                [(ngModel)]="centre.fax">
        </div>
        <div class="form-group row">
            <label for="email">Courriel</label>
            <input class="form-control" formControlName='email' id="email" type="text" placeholder="Courriel"
                [(ngModel)]="centre.email">
        </div>
        <div class="form-group row">
            <label for="site">Site Internet</label>
            <input class="form-control" formControlName='site' id="site" type="text" placeholder="Site Internet"
                [(ngModel)]="centre.site">
        </div>
        <div class="form-group row">
            <label for="siret">N° SIRET</label>
            <input class="form-control" formControlName='siret' id="siret" type="text" placeholder="N° SIRET"
                [(ngModel)]="centre.siret">
        </div>

        <div class="btn btn-group col-sm-4">
            <button class="btn btn-success backbouton" (click)="onSubmitt()">enregistrer</button>
        </div>

    </form>
</div>