<br>
<div class="row back">
    <div class="col-md-8 col-md-8 col-xl-6 mx-auto ">
        <div class="card card-body mx-auto col-md-8 col-xl-8 mb-3">

            <div class="card-header text-center backtitle">
                <span class="card-title">Connexion</span>
            </div>
            <div class="card-body row mx-auto justify-content-center">
                <div class="card text-center w-50 mb-3">
                    <br>
                    <div>
                        <img class="card-img-top w-50 text-center" src="assets/images/profile.png"
                            alt="Azzahrah Logo" />
                    </div>
                    <br>
                    <div>
                        <p><em>{{message}}</em></p>
                    </div>
                </div>
                <div class=" w-100">

                </div>

                <form #loginForm="ngForm" class="col-md-8 col-xl-8">
                    <div class="input-group mb-3">
                        <br>
                        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name"
                            aria-label="Nom d'utilisateur" placeholder="Nom d'utilisateur"
                            aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                            required aria-label="Mot de passe" placeholder="Mot de passe"
                            aria-describedby="basic-addon1" required>
                    </div>
                </form>
                <div class="card-action text-center col-md-8">

                    <button type="button" class="btn btn-primary backbouton" *ngIf="!authService.isLoggedIn"
                        (click)="login()">Se
                        connecter</button>
                    <button type="button" class="btn btn-primary backbouton" *ngIf="authService.isLoggedIn"
                        (click)="logout()">Se
                        déconnecter</button>
                </div>
            </div>

        </div>
    </div>
</div>