<h5>Consulter un stagiaire</h5>
<div class="row col-12 ">

    <div class="form form-group col-6">
        <input type="text" class="form-control" #find />
    </div>
    <div class="btn btn-group col-3">
        <button class="btn btn-primary" (click)="findByName(find)"> Rechercher </button>
    </div>
