<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppimer une personne</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Etes-vous sûr de vouloir supprimer le dossier de
        <span class="text-primary">"{{ personne.prenomPers }} {{ personne.nomPers }}"</span>?</strong>
    </p>
    <p>
      Si la personne est inscrite à une session, sa suppression n'est pas
      possible.
    </p>
    <p>
      <span class="text-danger">La suppression n'est pas réversible !!!</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok')">
      Supprimer
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="container-fluid">
    <h4>Consulter un dossier</h4>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="typeahead" value="" [(ngModel)]="model" [ngbTypeahead]="search"
        (focus)="listeAllNomPers()" #find />
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success backbouton" (click)="findByData(find); find.value = ''">Rechercher</button>
    </div>

    <div class="container-fluid" *ngIf="selectedOk === 1">
      <form [formGroup]="monForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group col-xs-12 col-sm-12 col-md-12">
          <div class="col-xs-12 col-sm-6 col-md-6 ">
            <label for="nomPers">Nom</label>
            <input class="form-control " formControlName="nomPers" id="nomPers" type="text" placeholder="nom"
              [(ngModel)]="personne.nomPers" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label for="prenomPers">Prénom</label>
            <input class="form-control" formControlName="prenomPers" id="prenomPers" type="text" placeholder="prénom"
              [(ngModel)]="personne.prenomPers" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label for="mailPers">Courriel</label>
            <input class="form-control" formControlName="mailPers" id="mailPers" type="email"
              placeholder="adresse email" [(ngModel)]="personne.mailPers" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label for="dateNaisPers">Date de naissance</label>
            <input class="form-control" formControlName="dateNaisPers" id="dateNaisPers" type="date"
              placeholder="date de naissance" [(ngModel)]="personne.dateNaisPers" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label for="idDossPers">N° de dossier </label>
            <input class="form-control" type="text" formControlName="idDossPers" id="idDossPers"
              placeholder="N° de dossier " [(ngModel)]="personne.idDossPers" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <label for="listRoles">Rôles</label>
            <div class="list-group border">
              <li *ngFor="let role of personne.listRoles" id="listRoles" (dblclick)="delRole(role)">
                {{ role.libeleRole }}
              </li>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 border" *ngIf="dosPersValid === 'true'; else noDossier">
            <h5>Dossier en ligne :</h5>
            <div *ngIf="dosPers.telephone !== null; else noPhone">
              Tél. : {{ dosPers.telephone }}
            </div>
            <div>
              <ng-template #noPhone>Pas de numéro de téléphone renseigné.</ng-template>
            </div>
            <div *ngIf="dosPers.lieuDeNais !== null; else noLieuDeNais">
              Ville de naiss. : {{ dosPers.lieuDeNais }}
            </div>
            <div>
              <ng-template #noLieuDeNais>Pas de ville de naissance renseignée.</ng-template>
            </div>
          </div>

          <ng-template #noDossier>
            Pas de dossier en ligne.
          </ng-template>

          <div class="col-xs-12 col-sm-6 col-md-6"></div>
        </div>

        <div class="form-group col-sm-12 row">
          <div class="col-xs-12 col-sm-5 col-md-5 border" *ngIf="personne.listPart">
            <label for="listPart">Stagiaire des sessions</label>
            <li *ngFor="let session of personne.listPart" id="listPart" routerLink='/fichesess'>
              {{ session.libelleSession }} -
              {{ session.dateDebutSession }} </li>

          </div>
          <div class="col-xs-12 col-sm-5 col-md-5 border" *ngIf="personne.listAnimat">
            <label for="listAnimat">Formateur des sessions</label>
            <li *ngFor="let session of personne.listAnimat" id="listAnimat" routerLink='/fichesess'>
              {{ session.libelleSession }} -
              {{ session.dateDebutSession }}</li>
          </div>

        </div>
        <div class="btn btn-toolbar col-sm-12">
          <div class="btn btn-group col-sm-4">
            <button class="btn btn-success backbouton" [disabled]="monForm.invalid">
              Enregistrer les modifications
            </button>
          </div>
          <div class="btn btn-group col-sm-4">
            <button type="reset" class="btn btn-primary" (click)="onReset()" [disabled]="monForm.invalid">
              Annuler
            </button>
          </div>
          <div class="btn btn-group col-sm-4">
            <button class="btn btn-danger" (click)="open(content)" [disabled]="monForm.invalid">
              Supprimer
            </button>
          </div>
          <div class="btn btn-group col-sm-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>