<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<ng-template #suppr let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppimer une session</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Etes-vous sûr de vouloir supprimer la session
        <span class="text-primary">"{{ session.libelleSession }} {{ session.dateDebutSession }}"</span>?</strong>
    </p>
    <p>
      S'il y a des inscriptions dans la session, sa suppression n'est pas
      possible.
    </p>
    <p>
      <span class="text-danger">La suppression n'est pas réversible !!!</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('SupprSess')">
      Supprimer
    </button>
  </div>
</ng-template>

<ng-template #ajoutFormateur let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Ajouter un formateur</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <strong>Sélectionnez le formateur à ajouter à la session suivante :
          <span class="text-primary">"{{ session.libelleSession }} {{ session.dateDebutSession }} "</span></strong>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <input type="text" class="form-control" id="typeaheadFormateur" value="" [(ngModel)]="modelFormateur"
          [ngbTypeahead]="searchFormateur" (focus)="listeAllNomPers()" #findFormateur />
      </div>

      <div class="btn btn-toolbar col-sm-12">
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-success backbouton"
            (click)="findPersonneByData(findFormateur); findFormateur.value = null">
            Valider
          </button>
        </div>
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-primary" (click)="findFormateur.value = null; findedPersonne = null">
            Effacer
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="findedPersonne.nomPers != ''; else noFind">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h4>Le formateur suivant sera ajouté : </h4>
          <div class="col-xs-12 col-sm-12 col-md-12 border">
            {{ findedPersonne.nomPers }} {{ findedPersonne.prenomPers }} - {{ findedPersonne.idDossPers }}</div>
        </div>
        <ng-template class="col-xs-12 col-sm-12 col-md-12" #noFind>
          Recherchez un formateur à ajouter.
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-success backbouton" (click)="modal.close('AjoutFormateur')">
      Ajouter
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
  </div>
</ng-template>

<ng-template #ajoutStagiaire let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Ajouter un stagiaire</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <strong>Sélectionnez le stagiaire à ajouter à la session suivante :
          <span class="text-primary">"{{ session.libelleSession }} {{ session.dateDebutSession }} "</span></strong>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <input type="text" class="form-control" id="typeaheadStagiaire" value="" [(ngModel)]="modelStagiaire"
          [ngbTypeahead]="searchStagiaire" (focus)="listeAllNomPers()" #findStagiaire />
      </div>

      <div class="btn btn-toolbar col-sm-12">
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-success backbouton"
            (click)="findPersonneByData(findStagiaire); findStagiaire.value = null">
            Valider
          </button></div>
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-primary" (click)="findStagiaire.value = null">
            Effacer
          </button></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 border" *ngIf="findedPersonne.nomPers != ''; else noFind">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h4>Le stagiaire suivant sera ajouté : </h4>
          {{ findedPersonne.nomPers }} {{ findedPersonne.prenomPers }} - {{ findedPersonne.idDossPers }}
        </div>
        <ng-template #noFind>
          Recherchez un stagiaire à ajouter.
        </ng-template>
      </div>

    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-success backbouton" (click)="modal.close('AjoutStagiaire')">
      Ajouter
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
  </div>
</ng-template>

<ng-template #modifierFormation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Modifier le type de formation</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <strong>Sélectionnez le type de formation à modifier à la session suivante :
          <span class="text-primary">"{{ session.libelleSession }} {{ session.dateDebutSession }} "</span></strong>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <input type="text" class="form-control" id="typeaheadFormation" [(ngModel)]="modelFormation"
          [ngbTypeahead]="searchFormation" (focus)="listeAllFormation()" #findForm />
      </div>
      <div class="btn btn-toolbar col-sm-12">
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-success backbouton"
            (click)="findFormation(findForm.value); findForm.value = null">
            Valider
          </button></div>
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-primary" (click)="findForm.value = null">
            Effacer
          </button></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 border" *ngIf="findedFormation.libelleFormation != ''; else noFind">
    <div class="col-xs-12 col-sm-12 col-md-12 ">
      <h4>Le type de formation va être remplacé par : </h4>
      {{ findedFormation.libelleFormation }}
    </div>
    <ng-template #noFind>
      Recherchez type de formation.
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success backbouton" (click)="modal.close('changeFormation')">
      Modifier
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
  </div>
</ng-template>

<ng-template #ajoutUniteForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Ajouter une unité de formation</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <strong>Sélectionnez l'unité de formation à ajouter à la session suivante :
          <span class="text-primary">"{{ session.libelleSession }} {{ session.dateDebutSession }} "</span></strong>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <input type="text" class="form-control" id="typeaheadUForm" value="" [(ngModel)]="modelUForm"
          [ngbTypeahead]="searchUFormation" (focus)="listeAllUForm()" #findUForm />
      </div>

      <div class="btn btn-toolbar col-sm-12">
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-success backbouton"
            (click)="findUFormations(findUForm.value); findUForm.value = null">
            Valider
          </button>
        </div>
        <div class="btn btn-group col-sm-4">
          <button type="button" class="btn btn-primary" (click)="findUForm.value = null">
            Effacer
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="findedUform.numUF != ''; else noFind">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
          <h4>L'unité de formation suivante sera ajoutée : </h4>
          <div class="col-xs-12 col-sm-12 col-md-12 border">
            {{ findedUform.numUF }} </div>
        </div>
        <ng-template class="col-xs-12 col-sm-12 col-md-12" #noFind>
          Recherchez une unité de formation à ajouter.
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success backbouton" (click)="modal.close('AjoutUForm')">
      Ajouter
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">
      Annuler
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="container-fluid row">
    <h5 class="col-sm-8">Consulter une session</h5>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="typeaheadSession" value="" [(ngModel)]="modelSession"
        [ngbTypeahead]="searchSession" (focus)="listeAllLibelleSession()"
        ngbTooltip="Saisir une valeur à rechercher et cliquer sur le bouton Rechercehr" #findSession />
    </div>
    <div class="col-sm-2">
      <button class="btn btn-success backbouton"
        (click)="findByData(findSession); findSession.value = ''">Rechercher</button>
    </div>

    <div class="container-fluid" *ngIf="selectedOk === 1">
      <form [formGroup]="monForm" novalidate>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 row">
          <div class="col-xs-12 col-sm-12 col-md-6 ">
            <label for="libelleSession">Libelle de session</label>
            <input class="form-control " formControlName="libelleSession" id="libelleSession" type="text"
              placeholder="Libelle de session" [(ngModel)]="session.libelleSession" />
          </div>
          <div class="col-xs-4 col-sm-6 col-md-3">
            <label for="dateDebutSession">Date de début de session</label>
            <input class="form-control" formControlName="dateDebutSession" id="dateDebutSession" type="date"
              placeholder="Début de session" [(ngModel)]="session.dateDebutSession" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="dateFinSession">Date de fin de session</label>
            <input class="form-control" formControlName="dateFinSession" id="dateFinSession" type="date"
              placeholder="Fin de sesion" [(ngModel)]="session.dateFinSession" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <label for="nbUnitesFormation">Nombre d'unités</label>
            <input class="form-control" formControlName="nbUnitesFormation" id="nbUnitesFormation" type="text"
              placeholder="Nombre d'unités" [(ngModel)]="session.nbUnitesFormation" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <label for="formation">Type de formation</label>
            <div class="col-sm-8 border">
              <label *ngIf="session.formation !== null">{{session.formation.libelleFormation}} <i
                  class="fas fa-exchange-alt" (click)="open(modifierFormation)"
                  ngbTooltip="Cliquer pour modifier le type de formation"></i></label>
              <input class="form-control " *ngIf="session.formation !== null" type="hidden" formControlName="formation"
                id="formation" placeholder="Formation" [(ngModel)]="session.formation"
                value="{{session.formation.libelleFormation}}" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6"></div>
        </div>
        <div class="form-group col-sm-12">
          <label for="listFormateurs">Liste des formateurs</label>
          <div class="col-sm-8 border">
            <div class="list-group">
              <li *ngFor="let formateur of session.listFormateurs" id="listFormateurs">
                {{ formateur.nomPers }}
                {{ formateur.prenomPers }}
                -
                {{ formateur.idDossPers }} - <span (dblclick)="delFormateur(formateur)"
                  ngbTooltip="Supprimer">&#10060;</span>
              </li>

            </div>
          </div>
          <div class="btn btn-toolbar col-sm-12">
            <div class="btn btn-group col-sm-4">
              <button class="btn btn-primary" (click)="open(ajoutFormateur)"> Ajouter un
                formateur
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="listStagiaires">Liste des stagiaires</label>
          <div class="col-sm-8 border">
            <li *ngFor="let stagiaire of session.listStagiaires" id="listStagiaires">
              {{ stagiaire.nomPers }}
              {{ stagiaire.prenomPers }}
              -
              {{ stagiaire.idDossPers }} <span (dblclick)="delStagiaire(stagiaire)"
                ngbTooltip="Supprimer">&#10060;</span>
            </li>
          </div>
          <div class="btn btn-toolbar col-sm-12">
            <div class="btn btn-group col-sm-4">
              <button class="btn btn-primary" (click)="open(ajoutStagiaire)"> Ajouter un stagiaire </button>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="listUnitesFormation">Liste des Unités</label>
          <div class="col-sm-8 border">
            <li *ngFor="let unite of session.listUnitesFormation" id="listUnitesFormation">{{ unite.numUF }}
              {{ unite.lieu.libelleLieu }} <span (dblclick)="delUFormations(unite)"
                ngbTooltip="Supprimer">&#10060;</span></li>
          </div>
          <div class="btn btn-toolbar col-sm-12">
            <div class="btn btn-group col-sm-4">
              <button class="btn btn-primary" (click)="open(ajoutUniteForm)"> Ajouter une unité de formation </button>
            </div>
          </div>
        </div>
        <div class="btn btn-toolbar col-sm-12">
          <div class="btn btn-group col-sm-4">
            <button class="btn btn-success backbouton" (click)="onSubmitModif()" [disabled]="monForm.invalid">
              Enregistrer les modifications
            </button>
          </div>
          <div class="btn btn-group col-sm-4">
            <button type="reset" class="btn btn-primary" (click)="onReset()" [disabled]="monForm.invalid">
              Annuler
            </button>
          </div>
          <div class="btn btn-group col-sm-4">
            <button class="btn btn-danger " (click)="open(suppr)" [disabled]="monForm.invalid">
              Supprimer
            </button>
          </div>
          <div class="btn btn-group col-sm-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>