<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div *ngIf="auth; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock> </ng-template>
<div>
  <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
    <ngb-panel id="Acceuil">
      <ng-template ngbPanelTitle>
        <span>
          <h5>Acceuil
            <i class="fas fa-home"></i></h5>

        </span> </ng-template>
      <ng-template ngbPanelContent><b>
          <a class="nav-link" routerLink="/login" (click)="logOut();">Logout</a></b>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="Dossiers">
      <ng-template ngbPanelTitle>
        <span>
          <h5>Dossiers <i class="far fa-address-card"></i></h5>
        </span>
      </ng-template>
      <ng-template ngbPanelContent><b>
          <a class="nav-link" routerLink="/creapers">Créer un nouveau dossier</a>
          <a class="nav-link" routerLink="/fichepers">Consulter un dossier</a></b>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="Sessions">
      <ng-template ngbPanelTitle>
        <span>
          <h5>Sessions
            <i class="fas fa-chalkboard-teacher"></i></h5>
        </span> </ng-template>
      <ng-template ngbPanelContent><b>
          <a class="nav-link" routerLink="/creasess">Créer une nouvelle session</a>
          <a class="nav-link" routerLink="/fichesess">Consulter une session</a></b>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="Paramètres">
      <ng-template ngbPanelTitle>
        <span>
          <h5>Paramètres <i class="fas fa-school"></i></h5>
        </span>
      </ng-template>
      <ng-template ngbPanelContent><b>
          <a class="nav-link" routerLink="/param">Modifier les coordonées du centre </a>
          <a class="nav-link" routerLink="/lieux">Créer un nouveau lieu </a></b>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</div>
<ng-template #elseBlock> </ng-template>