<h5>Créer un dossier</h5>
<hr />
<div class="col-6">
  <form [formGroup]="monForm" novalidate (ngSubmit)="onSubmit()" class="was-validated">
    <div class="form-group row">
      <label>Nom</label>
      <input class="form-control" formControlName="nomPers" type="text" placeholder="nom" [(ngModel)]="personne.nomPers"
        required />
      <div class="valid-feedback">Donnée valide</div>
      <div class="invalid-feedback">Donnée obligatoire</div>
    </div>
    <div class="form-group row">
      <label>Prénom</label>
      <input class="form-control" formControlName="prenomPers" type="text" placeholder="prénom"
        [(ngModel)]="personne.prenomPers" required />
      <div class="valid-feedback">Donnée valide</div>
      <div class="invalid-feedback">Donnée obligatoire</div>
    </div>
    <div class="form-group row">
      <label>Courriel</label>
      <input class="form-control" formControlName="mailPers" type="email" placeholder="adresse email"
        [(ngModel)]="personne.mailPers" required />
      <div class="valid-feedback">Donnée valide</div>
      <div class="invalid-feedback">Donnée obligatoire</div>
    </div>
    <div class="form-group row">
      <label>Date de naissance</label>
      <input class="form-control" formControlName="dateNaisPers" type="date" placeholder="date de naissance"
        [(ngModel)]="personne.dateNaisPers" required />
      <div class="valid-feedback">Donnée valide</div>
      <div class="invalid-feedback">Donnée obligatoire</div>
    </div>
    <div class="form-group row">
      <label>N° de dossier </label>
      <input class="form-control" type="text" formControlName="idDossPers" placeholder="N° de dossier "
        [(ngModel)]="personne.idDossPers" required />
      <div class="valid-feedback">Donnée valide</div>
      <div class="invalid-feedback">Donnée obligatoire</div>
    </div>
    <div class="btn btn-toolbar">
      <div class="btn btn-group col-8">
        <button class="btn btn-success backbouton" [disabled]="monForm.invalid">
          Inscription
        </button>
      </div>
      <div class="btn btn-group col-4">
        <button type="reset" class="btn btn-primary" [disabled]="monForm.invalid">
          Annuler
        </button>
      </div>
    </div>
  </form>
</div>
<hr />