<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>