<h5>Lieux</h5>
<hr>
<div class="col-8 mx-auto">
    <form [formGroup]="monForm" novalidate (ngSubmit)="onSubmit()" class="was-validated">
        <div class="form-group row">
            <label>Nom </label>
            <input class="form-control" formControlName='libelleLieu' type="text" placeholder="Nom"
                [(ngModel)]="lieux.libelleLieu">
        </div>
        <div class="form-group row">
            <label>Détails </label>
            <input class="form-control" formControlName='detailsLieu' type="text" placeholder="Détails"
                [(ngModel)]="lieux.detailsLieu">
        </div>
        <div class="form-group row">
            <app-adresse (addAdrr)="ajoutAdrr($event)"></app-adresse>
        </div>
        <div class="btn btn-group">
            <button class="btn btn-success">enregistrer</button>
        </div>
    </form>
</div>
<div>