<div class="row">
    <div class="container-fluid row">
        <h5 class="col-sm-8">Ajouter une session</h5>
        <div class="container-fluid">
            <form [formGroup]="monForm" novalidate (ngSubmit)="onSubmit()" class="was-validated">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 row">
                    <div class="col-xs-12 col-sm-12 col-md-6 ">
                        <label for="libelleSession">Libelle de session</label>
                        <input class="form-control " formControlName="libelleSession" type="text"
                            placeholder="Libelle de session" [(ngModel)]="session.libelleSession" required />
                        <div class="valid-feedback">Donnée valide</div>
                        <div class="invalid-feedback">Donnée obligatoire</div>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-3">
                        <label for="dateDebutSession">Début de session</label>
                        <input class="form-control" formControlName="dateDebutSession" type="date"
                            placeholder="Début de session" [(ngModel)]="session.dateDebutSession" required />
                        <div class="valid-feedback">Donnée valide</div>
                        <div class="invalid-feedback">Donnée obligatoire</div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <label for="nbUnitesFormation">Nombre d'unités</label>
                        <input class="form-control" formControlName="nbUnitesFormation" type="text"
                            placeholder="Nombre d'unités" [(ngModel)]="session.nbUnitesFormation" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <label for="dateFinSession">Fin de session</label>
                        <input class="form-control" formControlName="dateFinSession" type="date"
                            placeholder="Fin de sesion" [(ngModel)]="session.dateFinSession" required />
                        <div class="valid-feedback">Donnée valide</div>
                        <div class="invalid-feedback">Donnée obligatoire</div>
                    </div>
                </div>
                <div class="btn btn-toolbar col-sm-12">
                    <div class="btn btn-group col-sm-4">
                        <button class="btn btn-success backbouton" [disabled]="monForm.invalid">
                            Enregistrer
                        </button>
                    </div>
                    <div class="btn btn-group col-sm-4">
                        <button type="reset" class="btn btn-primary" [disabled]="monForm.invalid">
                            Annuler
                        </button>
                    </div>

                    <div class="btn btn-group col-sm-4"></div>
                </div>
            </form>
        </div>
    </div>
</div>